* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Helvetica", "Arial", sans-serif;
}

/* Colors */
:root {
  --darkText: #222;
  --lightText: #777;
  --highlight: #9cccff;
}

header {
  border-bottom: 1px solid var(--highlight);
  height: 80px;
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-title {
  font-size: 2em;
  color: var(--darkText);
  margin: 5px;
}

#header-author{
  color: var(--lightText);
}

#list {
  width: 75vw;
  margin: 0 auto;
  padding-top: 1em;
  margin-top: 1em;
}

.card {
  margin-bottom: 1em;
  padding-bottom: 1em;
  display: flex;
  align-items: flex-start;
  color: var(--lightText);
}

.rank {
  margin-right: 1em;
  font-size: 1.7em;
}

.article {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 0.5em;
}

.card-title a {
  color: var(--darkText); /* Change this for color scheme */
  text-decoration: none;
  font-size: 1.1em;
}

.domain {
  font-size: 0.8em;
}

.subtitle {
  font-size: 0.7em;
}

#pageNav {
  display: flex;
  width: 75vw;
  margin: 0 auto;
}

.pageNav-button {
  padding: 5px;
  margin: 5px;
}
