
/* ---- Colors ---- */
:root {
  --darkText: #222;
  --lightText: #777;
  --color: #BBC3DF;
  --colorLight: #E2E6F4;
}

/* ---- Universal styles ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--colorLight);
}

#root {
  font-family: "Helvetica", "Arial", sans-serif;
}


#app {
  width: 75vw;
  margin: 0 auto;
}

/* ---- Header styles ---- */
header {
  border-bottom: 1px solid #DDD;
  height: 70px;
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-title {
  font-size: 1.3em;
  color: var(--darkText);
  margin: 5px;
}

#header-author{
  color: var(--lightText);
}

/* ---- Nav button styles ---- */
#pageNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  margin-top: 1em;
}

.navButton {
  padding: 5px 10px;
  margin: 0 1em;
  border: 1px solid black;
  color: black;
  background-color: white;
}

.navButton:hover {
  cursor: pointer;
  background-color: var(--colorLight);
  color: #222;
  border: 1px solid #222;
}

.navButton:active {
  background: var(--color);
}

.navButton:disabled {
  color: gray;
  border: 1px solid gray;
  cursor: auto;
}

.navButton:disabled:hover {
  background-color: white;
}

#prevBtn {
  margin-left: 3em;
}

/* ---- List styles ---- */
#list {
  margin: 1em 0;
}

.card {
  margin-bottom: 1em;
  padding-bottom: 1em;
  display: flex;
  align-items: flex-start;
  color: var(--lightText);
}

.rank {
  margin-right: 1em;
  font-size: 1.7em;
}

.article {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 0.5em;
}

.card-title a {
  color: var(--darkText);
  text-decoration: none;
  font-size: 1.1em;
}

.domain {
  font-size: 0.8em;
}

.subtitle {
  font-size: 0.7em;
}
